<!DOCTYPE html>
<!--
Copyright (c) 2012-2016 Adobe Systems Incorporated. All rights reserved.
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' gap:; style-src 'self' 'unsafe-inline'; media-src *" /> -->
        <!-- Good default declaration:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of eval() and inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
        * Enable inline JS: add 'unsafe-inline' to default-src
        * Enable eval(): add 'unsafe-eval' to default-src
        * Create your own at http://cspisawesome.com
        -->
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *" /> -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>DAT</title>
    </head>
    <body>

        <div class="app h-100 w-100" id="vue_app">
            
            <section class="h-100 w-100 d-flex align-items-center justify-content-center" v-if="route == 'login'" v-cloak>
                <form class="form-signin w-100" @submit.prevent="GET_TOKEN" method="POST">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">&copy;2019</p>
                </form>
            </section>

            <section id="DashboardCom" v-if="route == 'dashboard'" v-cloak>
                
                <nav class="navbar navbar-dark bg-dark d-flex align-items-center">
                  <a class="navbar-brand" href="#">DAT</a>
                  <a href="#" @click.prevent="LOGOUT" class="text-white">Logout</a>
                </nav>
                
                <div class="container-fluid bg-light my-3">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>

                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span><i class="far fa-building"></i> Accounts</span>
                        <span class="ml-auto">({{totals.accounts}})</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span><i class="far fa-clipboard"></i> Assets</span>
                        <span class="ml-auto">({{totals.assets}})</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span><i class="fa fa-user"></i> Users</span>
                        <span class="ml-auto">({{totals.users}})</span>
                    </a>
                </div>


            </section>

        </div>
        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        
        <script type="text/javascript">
        app.initialize();
        </script>



        <script>

            var fullApp = new Vue({

                el: '#vue_app',

                data: {

                    ls: localStorage,
                    root: 'http://dat.dynacomus.com/',
                    route: null,
                    user: null,
                    totals: {
                        assets: 0,
                        acccouts: 0,
                        users: 0
                    }  

                },

                mounted(){

                    var t = this;

                    t.CHECK_AUTH();

                },

                methods: {

                    _TOKEN(){

                        return this.ls.getItem('DAT_ACCESS_TOKEN') ? this.ls.getItem('DAT_ACCESS_TOKEN') : null;

                    },

                    CHECK_AUTH(){

                        var t = this;

                        if(t._TOKEN()){
                            
                            t.LOGIN();

                        }else{
                            
                            t.route = 'login';

                        }

                    },

                    GET_TOKEN(e){

                        var t = this;
                        var form = $(e.target);
                        var route = t.root + 'oauth/token';
                        var data = {

                            username        : $('[name="email"]', form).val(),
                            password        : $('[name="password"]', form).val(),
                            grant_type      : 'password',
                            client_secret   : 'vDAzfyu42IqdvysL3IesAgdx3kKBInr5uGsT8hrz',
                            client_id       : 2,

                        }

                        form.find('.alert').remove();

                        $.post(route, data).done(function(response){

                            function SAVE_ACCESS_TOKEN(){

                                t.ls.setItem('DAT_ACCESS_TOKEN', 'Bearer ' + response.access_token);

                            }

                            $.when(SAVE_ACCESS_TOKEN()).then(t.LOGIN());

                        }).fail(function(){

                            var danger_alert = `
                                <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                                  <strong>Upss!</strong> Something was wrong.
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            `;

                            form.prepend(danger_alert);

                        });

                    },

                    LOGIN(){

                        var t = this;

                        var route = t.root + 'api/user';

                        $.ajax({

                            method: 'GET',
                            url: route,
                            headers: {
                                Authorization: t._TOKEN(),
                                Accept: 'application/json'
                            } 

                        }).done(function(response){

                            t.user = response.user;
                            t.totals.assets = response.total_assets;
                            t.totals.accounts = response.total_accounts;
                            t.totals.users = response.total_users;

                            t.route = 'dashboard';

                        }).fail(function(){

                            t.ls.removeItem('DAT_ACCESS_TOKEN');
                            t.route = null;
                            t.user = null;

                            t.CHECK_AUTH();

                        });

                    },

                    LOGOUT(){

                        var t = this;

                        var route = t.root + 'api/logout';

                        $.ajax({

                            method: 'GET',
                            url: route,
                            headers: {
                                Authorization: t._TOKEN(),
                                Accept: 'application/json'
                            } 

                        }).done(function(response){

                            if(response.type == 'success'){

                                t.ls.removeItem('DAT_ACCESS_TOKEN');
                                t.route = null;
                                t.user = null;

                                t.CHECK_AUTH();

                            }

                        });

                    }

                }

            });

        </script>


    </body>
</html>