@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body {
    height: 100%;
}
body{
    background: #f8f9fd;
    font-family: 'Nunito', sans-serif;
}
[v-cloak]>* {
    display: none
}
.list-group-item {
    padding: .75rem 15px;
}
.bg-dark {
    background: #12151b !important;
}
.form-control, .custom-select{
    box-shadow: none !important;
}
.navbar-brand{
    font-size: 1.55rem;
}
aside.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85%;
    z-index: 105;
    background: #12151b !important;
    padding: 1.5rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}

aside.sidebar.active{
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}
.create_btn{
    position: fixed;
    width: 65px;
    height: 65px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    right: 1rem;
    bottom: 1rem;
    z-index: 102;
}
.btn i{
    position: relative;
    margin-right: 5px;
}
